-# coding: utf-8
%h1="Saved Items"

- if current_or_guest_user.blank?
  
  %h2="Please log in to see your saved items."
  
- elsif @document_list.blank?
  
  %h2="You have no saved items."
  
- else
  = render 'sort_and_per_page'
  = render 'tools'
  = render_document_index
  = render 'results_pagination'
  %div#userBookmarks
    %p=link_to "Clear Saved Items", clear_bookmarks_path, :method => :delete, :confirm => "Clear your saved items?"