config/database.yml
config/fedora.yml
config/fedora_credentials.yml
config/images.yml
config/solr.yml
config/roles.yml
config/*.sphinx.conf
config/s3_credentials.yml
secret_token.rb
*~
*.cache
*.log
*.pid
tmp/**/*
.DS_Store
db/cstore/**
db/sphinx/**
doc/api
doc/app
doc/plugins
doc/*.dot
jetty/logs/*
jetty/solr/data/*
coverage/*
db/*.sqlite3
*.tmproj
*.sw?
