/* Core Styles */
UL.file-system, UL.file-system UL {
  line-height: 18px;
  padding: 0;
  margin: 0;
}

UL.file-system LI {
	list-style: none;
	padding: 0px;
	padding-left: 20px;
	margin: 0;
	white-space: nowrap;
}

UL.file-system A {
	color: #333;
	text-decoration: none;
	display: inline-block;
	padding: 0 2px;
	width:auto;
}

UL.file-system A:hover {
	background: #BDF;
}

UL.fs-children { display: none;}
LI.fs-directory { background: url(asset_path('filesystem/directory.png')) left top no-repeat; }
LI.fs-expanded { background: url(asset_path('filesystem/folder_open.png')) left top no-repeat; }
LI.fs-file { background: url(asset_path('filesystem/file.png')) left top no-repeat; }
LI.fs-wait { background: url(asset_path('filesystem/spinner.gif')) left top no-repeat; }
/* MIME Types */
LI.text_css { background: url(asset_path('filesystem/css.png')) left top no-repeat; }
LI.application_octet-stream { background: url(asset_path('filesystem/application.png')) left top no-repeat; }
LI.text_html { background: url(asset_path('filesystem/html.png')) left top no-repeat; }
LI.text_javascript { background: url(asset_path('filesystem/script.png')) left top no-repeat; }
LI.application_json { background: url(asset_path('filesystem/script.png')) left top no-repeat; }
LI.image_jpeg { background: url(asset_path('filesystem/picture.png')) left top no-repeat; }
LI.image_gif { background: url(asset_path('filesystem/picture.png')) left top no-repeat; }
LI.image_png { background: url(asset_path('filesystem/picture.png')) left top no-repeat; }
LI.image_png { background: url(asset_path('filesystem/picture.png')) left top no-repeat; }
LI.image_tiff { background: url(asset_path('filesystem/picture.png')) left top no-repeat; }
LI.text_xml { background: url(asset_path('filesystem/code.png')) left top no-repeat; }
LI.application_pdf { background: url(asset_path('filesystem/zip.png')) left top no-repeat; }
LI.application_zip { background: url(asset_path('filesystem/zip.png')) left top no-repeat; }