body {
	color: #000;
	background-color: #fff;
	padding-top:0.5em;
	font-size:12px;
	line-height:16px;
}

.btn {	
 	font-size:12px;
	line-height:16px;
}

LABEL, INPUT, BUTTON, SELECT, TEXTAREA {	
 	font-size:12px;
	line-height:16px;
}

#facets H2 {
	font-size: 1.5em;
}

#facets H3 {
	font-size: 1.3em;
}

#facets H4 {
	font-size: 1.2em;
}

#facets H5 {
	font-size: 1.1em;
}

// the Start Over link
div.constraint-widget {
	position:relative;
	display: inline-block;
	margin: -5px 0 0 0;
}

a.thumbnail-single {
	display: inline-block;
	height: 200px;
	width: 200px;
	overflow: hidden;
}

a.thumbnail-single > img {
	vertical-align: middle;
}

a.thumbnail-multipart {
	display: inline-block;
	height: 200px;
	width: 200px;
	overflow: hidden;
	background-image: url('/assets/crystal/kmultiple.png');
	background-size: contain;
}

.thumbnail > img {
}

.thumb-overlay {
	position: relative;
	top: 50px;
	left: 50px;
	height: 150px;
	width: 150px;
	overflow: hidden;
}

.thumbnail-overlay > img {
	height: auto;
	width: 150px;
}

.index_title {
 font-weight: bold;
}

.title_data {
  font-weight: bold;
}

span.from_groups a {
  font-weight:normal;
}

span.index_metadata {
  font-weight:normal;
}

div.member-item > hr {
  width: 75%;
}

dt,
dd {
  line-height: 12px;
}

.show > .navbar {
	margin-bottom: 0.25em;
}

form.bookmark_toggle {
	margin-bottom: 1em;
}

.documentTitle {
	margin-top: 0px;
}

.table th,
.table td {
  padding: 8px;
  line-height: 12px;
}