-# coding: utf-8
- resource_list = get_resources(document)
- if resource_list
  - proxy_opts = {context: controller_name,publisher: document.fetch(:publisher_ssim, [])}
  %table.table.table-bordered
    %tr
      %th MIME Type
      %th Link
    - resource_list.each do |resource|
      %tr
        %td=resource[:mime_type]
        - if can? :download, Cul::Omniauth::AbilityProxy, Cul::Omniauth::AbilityProxy.new(resource.merge(proxy_opts))
          %td
            - if resource[:mime_type].match(/tiff$/) or resource[:mime_type].match(/wav$/) or resource[:mime_type].match(/jp2$/)
              = link_to "[Download]", uri_from_resource_parms(resource, "download")
            - else
              = link_to "[Show]", uri_from_resource_parms(resource, "show")
            = link_to "[DC]", uri_from_resource_parms(resource.merge({:block=>"DC", :filename=>(resource[:uri].gsub(/\:/,"") + "_dc.xml")}), "show_pretty")
        - else
          %td
            ="To request high resolution copies, see "
            %em
              %a{:href=>"http://library.columbia.edu/services/preservation/reproductions.html"}="Reprographic Services and Fees"

