- #metadata_list = get_metadata_list(document)
.row
  .col-md-8
    = render :partial => "catalog/_show_partials/metadata_brief", :locals => {document: document, groups: true}
  .col-md-4
    != "This is the default display."
    != document.inspect

