= render :partial => "catalog/_show_partials/groups", :locals => {:document => document}
- #metadata_list = get_metadata_list(document)
.yui-g
  .yui-u.first
    = render :partial => "catalog/_show_partials/metadata_brief", :locals => {:document => document}
  .yui-u

