- # coding: utf-8
- groups = get_groups(document)
- if groups.length > 0
  %dt="From Groups:"
  %dd
    != groups.collect {|x| link_to_document(x)}.join(", ") 
    %span="(Click  for More Information)"
- else
  / = "No groups found #{document[:id]}"