- members ||= []
- if members.length > 1
  %div#member-items
    - members.each do |member|
      = render :partial => "catalog/_show_partials/member", :locals => {:document => member}
- else
  - if members.length == 1
    %hr
    - member = members[0]
    = render :partial => "catalog/_show_partials/member", :locals => {:document => member}
