- structure, m_map = struct_metadata(document)
- ng_xml = structure.struct_map
%div
  %h4=ng_xml['LABEL']
  %div.media-list
    - divs = structure.divs_with_attribute(true, 'ORDER').sort {|a,b| a['ORDER'] <=> b['ORDER']}
    - divs.each do |div|
      %div.media
        - thumb_url = div['pid'] ? thumbnail_path(div['pid']) : resolver_path(div['CONTENTIDS'], :action=>'thumbnails')
        - href = div['pid'] ? catalog_path(div['pid']) : resolver_path(div['CONTENTIDS'], :action=>'catalog')
        %a{:href=>href, :class=>'pull-left'}
          %img{:src=>thumb_url, :class=>'media-object thumbnail'}
        .media-body
          %h5.media-heading=div['LABEL']
          - if div['pid']
            = render :partial => "catalog/_show_partials/metadata_brief", :locals => {:document => m_map[div['pid']], :link=>true}
            = render :partial => "catalog/_show_partials/image/display_derivatives", :locals => {:document => m_map[div['pid']]}
