-# coding: utf-8
- counter ||= nil
%div.container-fluid
  %div.span2
    = render_document_partial(document,"thumbnail", :locals=>{:document=>document,:label=>true,:counter=>counter})
  %div.span6
  %div.span4
