-# coding: utf-8
%div.document.well
  %div.container-fluid
    %div.row-fluid
      %div.col-md-3.media
        = render_document_partial(document, "thumbnail") unless document.nil?
      %div.col-md-9.container-fluid
        %div.row-fluid
          - if !document.nil?
            %p.index_title!=link_to_clio(document)
          = render :partial => "catalog/_show_partials/metadata_brief", :locals => {:document => document, :link => true} unless document.nil?
        %div.row-fluid
          = render :partial => "catalog/_show_partials/#{document[:dc_type_ssm].first.underscore}/display_derivatives", :locals => {:document => document} unless document.nil?
