-# coding: utf-8
- members_list = sort_member_docs(get_members(document))
- counter ||= session[:search][:counter]
- display_members = session[:search][:display_members]
- display_members = "list" unless not (display_members.nil? || "".eql?(display_members))
- if members_list.length > 1
  %h3="#{members_list.length} Member Items"
  %div#member-display
    %div#member-items
      - members_list.each do |member|
        = render :partial => "seminars/_show_partials/member", :locals => {:document => member}
- elsif members_list.first
  = render :partial => "seminars/_show_partials/member",:locals => {:document=>members_list.first}
