You are not logged into the Staff Collection Viewer, this application requires that you be library staff.

You can:
%ul
  %li=link_to "Log back in.", user_omniauth_authorize_path(provider: omniauth_provider_key, url: root_url)
  %li= link_to "Return To SWIFT", "https://www.columbia.edu/cu/lweb/swift/"
