- label ||= false
- counter ||= nil
- if !(counter.nil?)
  - counter = counter.to_i  + @response[:start].to_i + 1
- else
  - counter = nil
- href ||= url_to_document(document)
- if label
  %div.item_type
    %span.item_type="GROUP/COLLECTION"
%a{:href=>href}
  %img{:src=>"#{thumbnail_path(document[:id])}",:class=>"thumbnail"} 
