-# coding: utf-8
- document_counter ||= -1
- data_counter = (document_counter + 1 + @response.params[:start].to_i)
- href ||= url_to_document(document)
.thumbnail.pull-left
  %a{:href=>href, :'data-counter'=>data_counter, :class=>'thumbnail-link'}
    %img{:src=>"#{thumbnail_path(document[:id])}"} 
    =image_tag("crystal/kmultiple_overlay.png", :class=>"thumb-overlay")