-# coding: utf-8
- document_counter ||= -1
- data_counter = (document_counter + 1 + @response.params[:start].to_i)
- href ||= url_to_document(document)
%a.thumbnail.pull-left{:href=>href, :'data-counter'=>data_counter, :class=>'thumbnail-link'}
  %img{:src=>"#{thumbnail_path(document[:id])}", :class=>"media-object"}