-# coding: utf-8
- document_counter ||= -1
- data_counter = (document_counter + 1 + @response.params[:start].to_i)
- href ||= url_to_document(document)
%a.thumbnail.thumbnail-multipart.pull-left{:href=>href, :'data-counter'=>data_counter}
  .thumb-overlay
    %img{:src=>thumbnail_url(document), :alt=>"", :class=>"media-object"}
