-# coding: utf-8
- label ||= document[:index_type_label_ssi]
- document_counter ||= -1
- data_counter = (document_counter + 1 + @response.params[:start].to_i)
- href ||= url_to_document(document)
.thumbnail
  .relative-box
    %a{:href=>href, :'data-counter'=>data_counter, :class=>'thumbnail-link'}
      %img{:src=>"#{thumbnail_path(document[:id])}"}
    - if label
      .label="#{label} ITEM"
      - if !(label =~ /SINGLE/) 
        =image_tag("crystal/kmultiple_overlay.png", :class=>"thumb-overlay")