-# coding: utf-8
- label = get_index_type_label(document)
%div.span2
	.thumbnail
		%a{:href=>url_to_document(document)}
			%img{:"data-src"=>thumbnail_path(document[:id]),:src=>thumbnail_path(document[:id]), :alt=>""}
	- if label
		.label.label-info
			="#{label} ITEM"

