-# coding: utf-8
- label ||= document[:index_type_label_ssi]
- document_counter ||= -1
- data_counter = (document_counter + 1 + @response.params[:start].to_i)
- href ||= url_to_document(document)
- _class = (label and !(label =~ /SINGLE/)) ? "multipart-label" : ""
%a{:href=>href, :'data-counter'=>data_counter, :class=>'thumbnail pull-left thumbnail-link'}
  %img{:src=>thumbnail_path(document[:id]), :alt=>"", :class=>"media-object"}