-# coding: utf-8
- if query_has_constraints?
  %div#appliedParams.clearfix.constraints-container
    %span.constraints-label=t('blacklight.search.filters.title')
    = render_constraints(params)
    = render :partial => 'start_over_widget'
