-# coding: utf-8
%div.container-fluid
  %div.span3
    = render_document_partial(document, :thumbnail)
  %div.span9
    %dl.defList
      - index_field_names.select { |f| document[f] }.each do |solr_fname|
        %dt= index_field_labels[solr_fname]
        %dd= h(document[solr_fname].listify.join("<br/>"))
