-# coding: utf-8
- if @previous_document || @next_document
    %div.pagination
        %ul
            %li{:class=>(@previous_document ? "" : "disabled")}
                != link_to_previous_document(@previous_document) || "&nbsp;"
            %li
                %a{:href=>url_back_to_catalog}
                    = "Back to Search Results"
            %li{:class=>(@next_document ? "" : "disabled")}
                != link_to_next_document(@next_document) || "&nbsp;"