- if paginate_params(@response).num_pages > 1
  .navbar
    .navbar-inner
      .navbar-text
        = paginate_rsolr_response @response, :outer_window => 2, :theme => 'scv'
        = render :partial => 'sort_widget'
        = render :partial => 'per_page_widget'