- if show_sort_and_per_page? and !active_sort_fields.blank?
  %div#sort-dropdown.btn-group.dropdown
    %button{:type=>'button', :id=>"sort-toggle", :"data-toggle"=>"dropdown", :class=>"btn btn-default dropdown-toggle"}
      = link_to(t(:'blacklight.search.sort.label', :field => current_sort_field.label), '#')
      %i.glyphicon.glyphicon-list
    %ul.dropdown-menu{:role=>"menu",:"aria-labelledby"=>"sort-toggle"}
      - active_sort_fields.each do |sort_key, field|
        %li= link_to(field.label, url_for(params_for_search.merge(:sort => sort_key)))
