%div.pull-right.hidden-phone.dropdown{:style=>"padding-right:1em;"}
  %div.constraint-widget
    %span.btn
      = link_to t('blacklight.search.start_over'), url_for(:action=>'index'), :id=>"startOverLink"
      %i.icon-home
