-# coding: utf-8
%h5.media-heading
  - if document_counter
    = (document_counter + 1 + @response.params[:start].to_i).to_s + '. '
  - else
    - document_counter = 0 
    = "\u2022 "
  = link_to_mash(document, :label=>document_show_link_field, :counter => document_counter) + ((document.link_title(document_show_link_field).match(/\.$/)) ? '' : '.')
- groups = get_groups(document)
- if groups.length > 0
  %p.from_groups
    !="&nbsp;&nbsp;From: "
    =link_to_groups(groups)
%p.index_metadata=index_title_text(document)