-# coding: utf-8
%span.title_data
  - _counter = (document_counter + 1 + @response.params[:start].to_i)
  - if document_counter
    = _counter.to_s + '. '
  = link_to_mash(document, :label=>document_show_link_field, :counter => _counter) + ((document.link_title(document_show_link_field).match(/\.$/)) ? '' : '.')
  - groups = get_groups(document)
  - if groups.length > 0
    %span.from_groups
      !="&nbsp;&nbsp;From: "
      =link_to_groups(groups)
%span.index_metadata=index_title_text(document)