- resource_list = get_resources(document)
- if resource_list
  %table.imageMembers
    %tr
      %th MIME Type
      %th Dimensions
      %th File Size
      %th Link
    - resource_list.each do |resource|
      %tr
        %td=resource[:mime_type]
        %td=resource[:dimensions]
        %td=resource[:size] 
        - if permitted_to? :fedora_content, Cul::Fedora::MimeDummy.new(resource), {:context => :download}
          %td
            - if resource[:mime_type].match(/tiff$/) or resource[:mime_type].match(/wav$/)
              = link_to "[Download]", fedora_content_path("download", resource[:pid], resource[:dsid], resource[:image_file_name])
            - else
              = link_to "[Show]", fedora_content_path("show", resource[:pid], resource[:dsid], resource[:image_file_name])
            = link_to "[DC]", resource[:dc_path] if resource[:dc_path]
        - else
          %td
            ="To request high resolution copies, see "
            %em
              %a{:href=>"http://library.columbia.edu/services/preservation/reproductions.html"}="Reprographic Services and Fees"

