body {
	color: #000;
	background-color: #fff;
	padding-top:0.5em;
	font-size:12px;
	line-height:16px;
}

.btn {	
 	font-size:12px;
	line-height:16px;
}

LABEL, INPUT, BUTTON, SELECT, TEXTAREA {	
 	font-size:12px;
	line-height:16px;
}

#facets H2 {
	font-size: 1.5em;
}

#facets H3 {
	font-size: 1.3em;
}

#facets H4 {
	font-size: 1.2em;
}

#facets H5 {
	font-size: 1.1em;
}

// the Start Over link
div.constraint-widget {
	position:relative;
	display: inline-block;
	margin: -5px 0 0 0;
}

a.thumbnail{
	display: inline-block;
	height: 128px;
	width: 128px;
	overflow: hidden;
}

.thumb-overlay {
	position: relative;
	left: 0px;
	bottom: 0px;
	background-color: #fff;
	vertical-align: bottom;
	z-index: 1;
}

.index_title {
 font-weight: bold;
}

.title_data {
  font-weight: bold;
}

span.from_groups a {
  font-weight:normal;
}

span.index_metadata {
  font-weight:normal;
}

div.member-item > hr {
  width: 75%;
}

dt,
dd {
  line-height: 12px;
}

.table th,
.table td {
  padding: 8px;
  line-height: 12px;
}