body {
	color: #000;
	background-color: #fff;
	padding-top:0.5em;
	font-size:12px;
	line-height:16px;
}

.btn {	
 	font-size:12px;
	line-height:16px;
}

LABEL, INPUT, BUTTON, SELECT, TEXTAREA {	
 	font-size:12px;
	line-height:16px;
}

h1.site_title {
	background: transparent url('logo.gif') no-repeat top left;
}

#facets H2 {
	font-size: 1.5em;
}

#facets H3 {
	font-size: 1.3em;
}

#facets H4 {
	font-size: 1.2em;
}

#facets H5 {
	font-size: 1.1em;
}

div.constraint-widget {
	position:relative;
	display: inline-block;
	margin: -5px 0 0 0;
}

div.constraint-widget .btn {
	padding: 5px 10px;
}

div.relative-box {
	position: relative;
	width: auto;
}

a.thumbnail-link {
	display: inline-block;
}

.thumb-overlay {
	position: absolute;
	left: 0px;
	bottom: 0px;
	z-index: 1;
}