#tools {
}
.index_title {
 font-weight: bold;
}
.title_data {
  font-weight: bold;
}
div.item_type {

}
span.item_type {

}
span.from_groups {

}
span.from_groups a {
  font-weight:normal;
}
span.index_metadata {
  font-weight:normal;
}
div.label {
}
div#member-items {
}
div.member-item {
}
div.member-item div {
}
div.member-item > hr {
  width: 75%;
}
div.member-item img {
}
div#member-display {
}
a.uiButton {
}
a.startOverButton{
}

dl {
}
dl.defList {
}
dl.defList dt {
}
dl.defList dd {
}
dl#groups {
}
dl#groups dt {
}
dl#groups dt, dl#groups a {
}

table.imageMembers {
}
table.imageMembers tr {
  
}
table.imageMembers td, table.imageMembers th {
}
#document .deleteBookmark, #document .addBookmark {
}
#hd #user_util_links div {
}
#hd #user_util_links div.first {
}
