- resource_list = get_resources(document)
- web_resources = resource_list.select { |x| !(x[:mime_type].include?("tif"))}
- web_resources.sort {|x,y| x[:width].to_i <=> y[:width].to_i}
- if web_resources.length > 0
  - resource = web_resources.last
  - img_url = cache_path("show", resource[:pid], resource[:dsid], resource[:image_file_name])
  %img{:src=>img_url,:style=>"width:100%"}
- else
  %st="Missing image."
