<div id="openseadragon1" style="width: 800px; height: 600px;"></div>
<script type="text/javascript">
    var viewer = OpenSeadragon({
        id: "openseadragon1",
        prefixUrl: "/images/openseadragon/",
        tileSources: "<%= iiif_info_url(params) %>"
    });
</script>