-# coding: utf-8
- resource_list = get_resources(document)
- if resource_list
  - resource_list.each do |resource|
    - if can? :download, Cul::Scv::DownloadProxy.new(resource.merge(context: controller_name))
      %object{data: uri_from_resource_parms(resource, "show"), type: resource[:mime_type], width: '100%', height: '1000px'}
        %p
          ="Required plugin appears to be missing. "
          %a{href: uri_from_resource_parms(resource, "show")}="Click here to download document."