- if (rft_id = document["rft_id_ss"])
  #map{:style=>"height:500px;"}
  :javascript
    init_seadragon("#{URI::encode(rft_id, Regexp.new("[^#{URI::PATTERN::UNRESERVED}]"))}", true);
- else
  %p
    No Zooming Map ID provided